body {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}
.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: solid grey 1px;
  height: 100vh;
  padding: 16px;
  position: fixed;
  left: 0;
  top: 0;
  margin-bottom: 20px;
  z-index: 99;
  background-color: white;
}
.tabletNav {
  display: none;
}

.handyNavBottom {
  display: none;
}
.handyNavTop {
  display: none;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.icon {
  height: 24px;
  margin: 16px;
}

.nav a:hover {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.postLink:hover {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

a:hover {
  cursor: pointer;
}

.search {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  align-items: center;
  height: 42px;
}

h1 {
  text-align: center;
  height: 48px;
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 0;
}

.leftSide {
  width: 250px;
}

.rightSide {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: white;
  margin-bottom: 20px;
}

header {
  height: 120px;
  display: flex;
}
.pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}
h3 {
  font-size: 12px;
  text-align: center;
}
.margin {
  margin: 8px;
}

footer {
  height: 48px;
  color: grey;
}

footer a:hover {
  font-weight: bold;
  border-radius: 10px;
}

.impressum {
  flex-direction: column;
  padding: 16px;
}

#content {
  flex: 1;
}
.card {
  margin: 20px;
}

.profiles {
  display: flex;
  align-items: center;
}
.profileImage {
  height: 40px;
  width: 40px;
  margin-right: 16px;
  border-radius: 50%;
}

.postImage {
  object-fit: cover;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.postLink {
  justify-content: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liking {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  margin-bottom: 16px;
}

input {
  width: 80%;
  height: 40px;
  border-width: 0px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.01);
}

input:focus { /*wenn reingeklickt*/
  outline: none !important;
  border: 1px dotted grey;
}

button {
  background-color: white;
  margin-left: 4px;
  color: blue;
  border-color: white;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }

  .tabletNav {
    display: flex;
    flex-direction: column;
    border: solid grey 1px;
    height: 100vh;
    padding: 16px;
    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 20px;
    z-index: 99;
    background-color: white;
  }
  .icon:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
  .rightSide {
    display: none;
  }
  .leftSide {
    width: 100px;
  }
}

@media (max-width: 850px) {

  .leftSide {
    width: 50px;
  }
}

@media (max-width: 750px) {
  .mainContainer {
    margin-top: 60px;
  }
  .tabletNav {
    display: none;
  }
  .leftSide {
    display: none;
  }

  .handyNavTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid grey 1px;
    border-style: solid none solid none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: white;
  }
  h1 {
    font-size: 32px;
    margin: 0;
  }
 

  .handyNavBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid grey 1px;
    border-style: solid none none solid;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: white;
  }
}

@media (max-width: 560px) {
  .card {
    margin: 0;
  }
  .picImage {
    width: 30px;
    height:30px;
  }
.padding {
  padding-left:8px;
}
  .postImage {
    width: 300px;
  }
  .profiles {
   justify-content: center;
  }

  .icon{
    margin: 8px;
  } 
  .liking img {
    height: 24px;
  }
}

@media (max-width: 360px) {
  .icon {
    height:16px;
  }
header {
  display:none;
  }
  .postImage {
    width: 250px;
  }
.search input {
  display: none;
}
.postLink {
  font-size: 12px;
}
}