<div class="leftSide">
    <div class="nav">
      <h1>Bookstagram</h1>
      <a href="./index.html"
        ><img
          class="icon"
          src="./icon/house-black-silhouette-without-door.png"
        />Startseite</a
      >
      <a href=""
        ><img
          class="icon"
          src="./icon/search-interface-symbol.png"
        />Suche</a
      >
      <a href=""><img class="icon" src="./icon/direction.png" />Entdecken</a>
      <a href=""><img class="icon" src="./icon/video.png" />Reels</a>
      <a href=""><img class="icon" src="./icon/send.png" />Nachrichten</a>
      <a href=""
        ><img class="icon" src="./icon/heart.png" />Benachrichtigung</a
      >
      <a href=""><img class="icon" src="./icon/tab.png" />Erstellen</a>
      <a href="./yourProfile.html"><img class="icon" src="./icon/user.png" />Profil</a>
      <a href=""><img class="icon" src="./icon/more.png" />Mehr</a>
    </div>
    <div class="tabletNav">
      <img src="./icon/icons8-book-64.png">
      <a href="./index.html"
        ><img
          class="icon"
          src="./icon/house-black-silhouette-without-door.png"
      /></a>
      <a href=""
        ><img class="icon" src="./icon/search-interface-symbol.png"
      /></a>
      <a href=""><img class="icon" src="./icon/direction.png" /></a>
      <a href=""><img class="icon" src="./icon/video.png" /></a>
      <a href=""><img class="icon" src="./icon/send.png" /></a>
      <a href=""><img class="icon" src="./icon/heart.png" /></a>
      <a href=""><img class="icon" src="./icon/tab.png" /></a>
      <a href="./yourProfile.html"><img class="icon" src="./icon/user.png" /></a>
      <a href=""><img class="icon" src="./icon/more.png" /></a>
    </div>
  </div>
  <div class="handyNavTop">
    <h1>Bookstagram</h1>
    <div class="search">
      <img class="icon" src="./icon/search-interface-symbol.png" />
      <input placeholder="Suchen">
    </div>
    <a href=""><img class="icon" src="./icon/heart.png" /></a>
  </div>