<div class="handyNavBottom">
    <a href="./index.html"
      ><img
        class="icon"
        src="./icon/house-black-silhouette-without-door.png"
    /></a>
    <a href=""><img class="icon" src="./icon/direction.png" /></a>
    <a href=""><img class="icon" src="./icon/video.png" /></a>
    <a href=""><img class="icon" src="./icon/send.png" /></a>
    <a href=""><img class="icon" src="./icon/tab.png" /></a>
    <a href="./yourProfile.html"><img class="icon" src="./icon/user.png" /></a>
  </div>